:root {
  --light: #f8f9fa;
  --dark: #212529;
  --primary: #0d6efd;
}


html {
  width: 100%;
  height: 100%;
}


body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


.navbar {
  transition: 0.3s ease;
}

.navbar.scrolled .nav-link.active {
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navbar.scrolled {
  background: var(--dark);
  box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
}


.navbar.scrolled .navbar-brand {
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(255, 255, 255));
  background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 768px) {
  .navbar {
      background: var(--dark);
      box-shadow: 0 1px 15px rgba(255, 255, 255, 0.75);
  }
  .navbar .navbar-brand {
      display: inline-block;
      background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(255, 255, 255));
      background-clip: text;
      background-clip: text;
      font-weight: bold;
      -webkit-text-fill-color: transparent;
  }
}


#offcanvas {
  background: var(--dark);
}


.offcanvas button {
  background: none;
  border: none;
}


header.masthead {
  background: url("images/Space.png") center/cover no-repeat;
  padding-top: 10rem;
  padding-bottom: 5.5rem;
}


header.masthead .row {
  display: flex;
  justify-content: center;
}


header.masthead hr {
  width: 3rem;
  height: 4px;
  background: #fff;
  border: none;
  border-radius: 20px;
  opacity: 1;
}


@media (min-width: 768px) {
  header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 0;
      padding-bottom: 0;
  }
  header.masthead p {
      font-size: 1.2rem;
  }
  header.masthead h1 {
      font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
      font-size: 3.5rem;
  }
}


header.masthead a {
  width: auto;
}


#about hr {
  width: 3rem;
  height: 4px;
  border-radius: 20px;
  border: none;
  opacity: 1;
  display: inline-block;
 background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
}

.aboutText {
  font-size: 25px;
}

.interestText {
  font-size: 25px;
}

.porteffect {
  text-shadow: 0 0 20px #493b37, 0 0 40px #ffffff;
  animation: flicker 1s infinite alternate-reverse;
}

@keyframes flicker {
  0% {text-shadow: 0 0 20px #3b82d8, 0 0 40px #7027b4}
  100% {text-shadow: 0 0 40px hsl(0, 75%, 49%), 0 0 80px #3726d4;}
}

.cooleffect {
  font-size: 3rem;
  color: #fff3ef;
  text-shadow: 0 0 20px #1e8a92, 0 0 40px #ff6600;
  position: relative;
  animation: flicker 2s infinite alternate;
}

@keyframes flicker {
  0% { text-shadow: 0 0 15px #3b88a7, 0 0 30px #ff6600; }
  100% { text-shadow: 0 0 25px #43fff6, 0 0 50px #a25ab8; }
}


#portfolio .container-fluid hr {
  width: 3rem;
  height: 4px;
  border-radius: 20px;
  border: none;
  opacity: 1;
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
}


#portfolio .container-fluid .row .col-lg-4 {
  display: flex;
  justify-content: center;
}


#portfolio .container-fluid .row .portfolio-box {
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  background: #fff;
}


#portfolio .container-fluid .row .portfolio-box.background {
  background: url('images/BlueComputer.jpg');
  background-position: center;
  background-size: cover;
}


#portfolio .container-fluid .row .portfolio-box .portfolio-box-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
  opacity: 0;
  overflow: hidden;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


#portfolio .container-fluid .row .portfolio-box:hover .portfolio-box-caption {
  opacity: 0.8;
}


#resume hr {
  width: 3rem;
  height: 4px;
  border-radius: 20px;
  border: none;
  opacity: 1;
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
}

#resume {
  justify-content: center; 
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

#interests hr {
  width: 3rem;
  height: 4px;
  border-radius: 20px;
  border: none;
  opacity: 1;
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
}


#contact hr {
  width: 3rem;
  height: 4px;
  border-radius: 20px;
  border: none;
  opacity: 1;
  display: inline-block;
  background: linear-gradient(to right, rgb(55, 67, 182), rgb(84, 150, 236), rgb(121, 194, 223));
}

#contact .form-control {
  background-color: #222;
  border: 2px solid #444;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

#contact .form-control:focus {
  border-color: #00b7ff;
  box-shadow: 0 0 10px rgba(0, 255, 231, 0.6);
  background-color: #2a2a2a;
  color: #fff;
}

/* Textarea height */
#contact textarea {
  resize: none;
}

/* Button styling */
#contact button {
  background: linear-gradient(90deg, #00aeff, #7276b4);
  border: none;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

#contact button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(126, 176, 233, 0.7), 0 0 30px rgba(45, 135, 209, 0.7);
}


#footer {
  height: 12rem;
}


.navbar-nav .nav-link {
  color: white;
  transition: color 0.3s ease;
}


.navbar-nav .nav-link:hover {
  color: #ff5733;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

#portfolio .container-fluid .row .portfolio-box.city {
  background: url('images/City.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.crest {
  background: url('images/FamilyCrest.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.littleboytoy {
  background: url('images/Boy.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.lottery {
  background: url('images/Lottery.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.gamedev {
  background: url('images/Gamedev.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.birthday {
  background: url('images/Birthday.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.pumpkin {
  background: url('images/Pumpkin.png') center/cover;
}

#portfolio .container-fluid .row .portfolio-box.clock {
  background: url('images/Clock.png') center/cover;
}

#portfolio .container-fluid .row {
  justify-content: center;
}

.resh1 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 2px solid #00bcd4;
  display: inline-block;
  padding-bottom: 5px;
}

.resp {
  font-size: 1.1rem;
  color: #e0e0e0;
  max-width: 800px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
  text-align: left;
}
.resp::before {
  content: "";
  display: block;
  margin-top: 10px;
}

